html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*,*::before, *::after{
  margin: 0;
  padding:0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen{
  width: 100%;
  height: 60px;
  font-size:30px;
  text-align: right;
}
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

button{
  height: 50px;
  width: 50px;
}
